@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<hr />
<h4 class="text-success">Sorry for the inconvenience. <br /> Here's something funny:</h4>
<br />
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HGe_HGmuEZg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>


