@using (Ajax.BeginForm(
    "MatchesByLocation",
    "Matches",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.ReplaceWith,
        HttpMethod = "GET",
        LoadingElementId = "ajax-loader",
        UpdateTargetId = "matchesList"
    }))
{
    <div style="display: inline-block; float: left; margin: 0px 30px;">
        <img id="ajax-loader" src="~/Content/Images/ajax-loader.gif" style="display:none" />
        <div class="form-group">
            <div class="">
                <select class="form-control" id="selectByLocation" name="location">
                    <option value="Ekaterinburg">Ekaterinburg Arena, Ekaterinburg</option>
                    <option value="Kaliningrad">Kaliningrad Stadium, Kaliningrad</option>
                    <option value="Kazan">Kazan Arena, Kazan</option>
                    <option value="MoscowSpartak">Spartak Stadium, Moscow</option>
                    <option value="MoscowLuzhniki">Luzhniki Stadium, Moscow</option>
                    <option value="NizhnyNovgorod">Nizhny Novgorod Stadium, Nizhny Novgorod</option>
                    <option value="RostovOnDon">Rostov Arena, Rostov-On-Don</option>
                    <option value="SaintPetersburg">Saint Petersburg Stadium, Saint Petersburg</option>
                    <option value="Samara">Samara Arena, Samara</option>
                    <option value="Saransk">Mordovia Arena, Saransk</option>
                    <option value="Sochi">Fisht Stadium, Sochi</option>
                    <option value="Volgograd">Volgograd Arena, Volgograd</option>
                </select>
                <br />
                <input type="submit" value="By location" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}
