@using (Ajax.BeginForm(
    "Search",
    "Teams",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.ReplaceWith,
        HttpMethod = "GET",
        LoadingElementId = "ajax-loader",
        UpdateTargetId = "teamsList"
    }))
{
<div style="display: inline-block; float: left; margin: 0px 30px;">
    <img id="ajax-loader" src="~/Content/Images/ajax-loader.gif" style="display:none" />
    <div class="form-group" style="display: flex; align-items: center;">
        <input type="text" name="searchCriteria" class="form-control" style="display: inline-block; width: 140px; margin: 0 10px;" />
        <br />
        <input type="submit" value="By name" class="btn btn-outline-primary" style="display: inline-block; margin: 0 10px;"/>
    </div>
</div>
}